 <configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="c:\users\administrator\appdata\local\programs\python\python37\python.exe|c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\thihc2" />
    <add key="WSGI_HANDLER" value="thihc2.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="thihc2.settings" />
  </appSettings>"
       

</configuration>

