{% extends 'layouts/app.html' %}
{% load i18n %}
{% block title %}
{% trans "Questions" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="side-navbar">
            {% include 'layouts/leftside-menubar.html' %}
        </div>
        <div class="col-md-10" id="main-container">
            <div class="panel panel-default">
                <ol class="breadcrumb" style="margin-top: 3%;">
                    <li><a href="{% url 'question:index' %}" style="color:#3b80ef;">{% trans "Question" %} </a></li>
                    <li class="active">{% trans "Course" %} </li>
                </ol>
                <div class="page-panel-title">{% trans "All Questiones" %} </div>

                <div class="panel-body">
                  
                    {% include 'components/questions-list.html' %}
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
