{% extends 'layouts/app.html' %}
{% load i18n %}
{% block title %}
{% trans "Exam" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="side-navbar">
            {% include 'layouts/leftside-menubar.html' %}
        </div>
        <div class="col-md-10" id="main-container">
            <div class="panel panel-default">
                <div class="page-panel-title">{% trans "All Examinations" %} </div>

                <div class="panel-body">
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-danger">
                    <strong>{{ message|escape }}</strong>
                </div>
                    
                  {% endfor %}
                 {% endif %}
                    <form class="form-horizontal" method="post" id="examForm" data-sections-url="{% url 'exam:ajax_load_sections' %}" data-courses-url="{% url 'exam:ajax_load_courses' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                     
                    <button type="submit">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   datepicker_format()
  </script>
<script>
    $("#id_myClass").change(function () {
        
      var url = $("#examForm").attr("data-sections-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input
     
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'myClass': countryId       // add the country id to the GET parameters
        },
       
        success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_courseOfSection").html('<option value="">---------</option>'); 
            $("#id_section").html(data);  // replace the contents of the city input with the data that came from the server
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(ajaxOptions);
            alert(xhr.status);
            alert(thrownError);
        }
      });

    });

    $("#id_section").change(function () {
      var url = $("#examForm").attr("data-courses-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input
      
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'section': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_courseOfSection").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}
