{% load i18n %}
{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}
<form  method="post">
  {% csrf_token %}
      <input type="hidden" name="course_id" value="{{ course.id}}">
    
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans "Student_Code" %} </th>
        <th scope="col">{% trans "Name" %} </th>
        <th scope="col">{% trans "Present" %} </th>
        <th scope="col">{% trans "Total Attended" %} </th>
        <th scope="col">{% trans "Total Missed" %} </th>
        <th scope="col">{% trans "Total Escaped" %} </th>
        <th scope="col">{% trans "Adjust Missed Attendance" %} </th>
      </tr>
    </thead>
    <tbody>
      {% if  attendances_att %}
      
        <input type="hidden" name="update" value="1">
        {% for attendance in attendances %}
      
        
          <input type="hidden" name="students[]" value="{{attendance.student.id}}">
        {% endfor %}
        {% for attendance in attendances %}
      
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{attendance.student.id}}</td>
            <td>
              {% if attendance.present == 1 %}
              
                <span class="label label-success attdState">{% trans "Present" %} </span>
              {% elif attendance.present == 2 %}
        
                <span class="label label-warning attdState">{% trans "Escaped" %}</span>
            
              {% else %}
                <span class="label label-danger attdState">{% trans "Absent" %}</span>
              {% endif %}
              <a href="{url('user/'.$attendance->student->student_code)}}">{{ attendance.student.student_name}}</a>
            </td>
            <td>
              <input type="hidden" name="attendances[]" value="{{attendance.id}}">
              {% if attendance.present == 1 %}
                <div class="form-check">
                  <input class="form-check-input position-static" type="checkbox" aria-label="Present" name="isPresent{{ forloop.counter }}" checked>
                </div>
                {% else %}
              <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" name="isPresent{{ forloop.counter }}" aria-label="Absent">
              </div>
              {% endif %}
            </td>
            {% if attCount %}
              {% for at in attCount %}  
                {% if at.student_id == attendance.student.id%}     
                
                  <td>{{at.totalPresent}}</td>
                  <td>{{at.totalAbsent}}</td>
                  <td>{{at.totalEscaped}}</td>
                {% else %}
                 
                {% endif %}
              {% endfor %}
              {% else %}
              <td>01</td>
              <td>0</td>
              <td>0</td>
              {% endif %}
            <td><a href="{url('attendance/adjust/'.$attendance->student->id)}}" role="button" class="btn btn-danger btn-sm">@lang('Adjust Missing Attendances')</a></td>
          </tr>
        {% endfor %}
       
      {% else %}
        <input type="hidden" name="update" value="0">
        <input type="hidden" name="attendances[]" value="0">
       
        {% for grade in grades %}  
        
        <input type="hidden" name="students[]" value="{{grade.student_id}}">
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{grade.student.user.username}}</td>
          <td><span class="label label-success attdState">{% trans "Present" %} </span>  {{grade.student.user.last_name}} {{grade.student.user.first_name}}</td>
          <td>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" name="isPresent{{ forloop.counter }}" aria-label="Present" checked>
            </div>
          </td>
          {% if attCount %}
              
            {% for at in attCount %}  
                {% if at.student_id == grade.student_id %}
              
                  <td>{{at.totalPresent}}</td>
                  <td>{{at.totalAbsent}}</td>
                  <td>{{at.totalEscaped}}</td>
                {% else %}
                 
                {% endif %}
            {% endfor %}
          {% else %}
              <td>0</td>
              <td>0</td>
              <td>0</td>
          {% endif %}
          <td><a href="{url('attendance/adjust/'.$student->id)}}" role="button" class="btn btn-danger btn-sm">{% trans "Adjust Missing Attendances" %} </a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>
  </div>
  <div style="text-align:center;">
    <a href="javascript:history.back()" class="btn btn-danger" style="margin-right: 2%;" role="button">{% trans "Cancel" %} </a>
    {% if  attendances %}
    <button type="button" class="btn btn-primary">{% trans "Update" %} </button>
    
      {% else %}
     
      <button type="submit" class="btn btn-primary">{% trans "Submit" %} </button>
      {% endif %}
  </div>
</form>
<script>
  $('input[type="checkbox"]').change(function() {
      var attdState = $(this).parent().parent().parent().find('.attdState').removeClass('label-danger label-success');
      if($(this).is(':checked')){
        attdState.addClass('label-success').text("{% trans 'Present' %}") ;
      } else {
        attdState.addClass('label-danger').text("{% trans 'Absent' %}" );
      }
  });
</script>