
{% extends 'layouts/app.html' %}
{% load i18n %}
{% block title %}
{% trans "Grades" %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
          {% include 'layouts/leftside-menubar.html' %}
        </div>
        <div class="col-md-10" id="main-container">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger">
            <strong>{{ message|escape }}</strong>
        </div>
            
          {% endfor %}
         {% endif %}

            <form  method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" value="{$course_id}}">
            <div class="panel panel-default" id="main-container">
              {% if course%}
              
             
                <div class="page-panel-title" style="font-size: 15px;"> 
                  <b>{% trans "Class" %}</b> - {{ course.section.myclass.class_name }} &nbsp;
                  <b>{% trans "Section" %} </b> - {{ course.section.section_name}} &nbsp;
                  <b>{% trans "Course" %} </b> - {{ course.course_name}} &nbsp;
                  <button type="submit" class="btn btn-success btn-xs pull-right">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                  </button>
                </div>
               
                <div class="panel-body" style="padding-top: 0px;">
                  
                  {% comment "Optional note" %}
                      <table class="table table-condensed table-hover">
                        <thead>
                          <tr>
                            <th scope="col" style="width:10%;"> {% trans "Select Grade System" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Quiz Count" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Assignment Count" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Class Test Count" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Attendance" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Assignment" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Quiz" %}  </th>
                            <th scope="col" style="width:10%;"> {% trans "Class Test " %}  </th>
                          </tr>
                        </thead>
                        <?php
                          $section_id = 0;
                        ?>
                        {% for grade in grades %}
                        <tbody>
                          <tr>
                            <td>
                              <select class="form-control input-sm" name="grade_system_name">
                                @foreach($gradesystems as $gs)
                              <option {($grade->course->grade_system_name == $gs->grade_system_name)?'selected=selected':''}}>{$gs->grade_system_name}}</option>
                                @endforeach
                              </select>
                            </td>
                            <td>
                            <input type="number" class="form-control input-sm" id="quiz-count" name="quiz_count" placeholder="@lang('Quiz Count')" max="5" value="{$grade->course->quiz_count}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="assignment-count" name="assignment_count" placeholder="@lang('Assignment Count')" max="3" value="{$grade->course->assignment_count}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="ct-count" name="ct_count" placeholder="@lang('CT Count')" max="5" value="{$grade->course->ct_count}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="attendance" name="attendance_percent" placeholder="@lang('Percentage')" max="50" value="{$grade->course->attendance_percent}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="assignment" name="assignment_percent"
                              placeholder="@lang('Percentage')" max="50" value="{$grade->course->assignment_percent}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="quiz" name="quiz_percent" placeholder="@lang('Percentage')" max="50" value="{$grade->course->quiz_percent}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="class-test" name="ct_percent" placeholder="@lang('Percentage')" max="50" value="{$grade->course->ct_percent}}">
                            </td>
                          </tr>
                          <tr>
                            <th scope="col" style="width:10%;">@lang('Final Exam %')</th>
                            <th scope="col" style="width:10%;">@lang('Practical %')</th>
                            <th scope="col" style="width:10%;">
                              @lang('Quiz Full Marks')
                            </th>
                            <th scope="col" style="width:10%;">
                              @lang('Assignment Full Marks')
                            </th>
                            <th scope="col" style="width:10%;">
                              @lang('CT Full Marks')
                            </th>
                            <th scope="col" style="width:10%;">
                              @lang('Final Exam Full Marks')
                            </th>
                            <th scope="col" style="width:10%;">
                              @lang('Practical Full Marks')
                            </th>
                            <th scope="col" style="width:10%;">
                              @lang('Attendance Full Marks')
                            </th>
                          </tr>
                          <tr>
                            <td>
                              <input type="number" class="form-control input-sm" id="final" name="final_exam_percent" placeholder="@lang('Percentage')" max="100" value="{$grade->course->final_exam_percent}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="practical_percent" name="practical_percent" placeholder="@lang('Percentage')" max="100" value="{$grade->course->practical_percent}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="q_full" name="quiz_fullmark" placeholder="@lang('Quiz Full Marks')" max="20" value="{$grade->course->quiz_fullmark}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="a_full" name="a_fullmark" placeholder="@lang('Assignment Full Marks')" max="20" value="{$grade->course->a_fullmark}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="ct_full" name="ct_fullmark" placeholder="@lang('CT Full Marks')" max="20" value="{$grade->course->ct_fullmark}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="final_full" name="final_fullmark" placeholder="@lang('Final Full Marks')" max="100" value="{$grade->course->final_fullmark}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="practical_full" name="practical_fullmark" placeholder="@lang('Practical Full Marks')" max="100" value="{$grade->course->practical_fullmark}}">
                            </td>
                            <td>
                              <input type="number" class="form-control input-sm" id="att_full" name="att_fullmark" placeholder="@lang('Attendance Full Marks')" max="100" value="{$grade->course->att_fullmark}}">
                            </td>
                          </tr>
                        </tbody>
                        
                          {% endfor %}
                      </table>
                  {% endcomment %}
                </div>
             {% else %}
                <div class="panel-body">
                  {% trans "No Related Data Found." %}  
                </div>
              {% endif %}

            </div>
          </form>
            <div class="panel panel-default">
             {%if grades  %}
              <div class="page-panel-title" style="font-size: 15px;">
                <form action="{url('grades/calculate-marks')}}" method="POST">
                  {% csrf_token %}
                 
                
                  {% trans "Give Marks to Students" %}  
                  <input type="hidden" name="course_id" value="{{course.id}}">
                  <input type="hidden" name="section_id" value="{$section_id}}">
                  {% for gs in gradesystems %}
                    <input type="hidden" name="grade_system_name" value="{$gs->grade_system_name}}">
                  {% endfor %}
                  <input type="hidden" name="exam_id" value="{$exam_id}}">
                  <input type="hidden" name="teacher_id" value="{$teacher_id}}">
                  <button type="submit" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> {% trans "Get Total Marks" %} 
                  </button>
                
                </form>
              </div>
              <div class="panel-body">
                {% include 'layouts/teacher/grade-formVN.html' %}

             
              </div>
              {% else %}
                <div class="panel-body">
                  {% trans "No Related Data Found." %}  
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
