
{% extends 'layouts/app.html' %}
{% load i18n %}
{% block title %}

__('All Classes and Sections')
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="main-container">
            <div class="panel panel-default">
                <div class="page-panel-title"> {% trans "Quiz" %} </div>
                
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" >
                        {% csrf_token %}

                        <div class="form-group{ $errors->has('username') ? ' has-error' : '' }}">
                            <label for="username" class="col-md-4 control-label">{% trans "Student Code" %} </label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" value='{{username}} ' required autofocus>

                            </div>
                        </div>

                        <div class="form-group{ $errors->has('password') ? ' has-error' : '' }}">
                            <label for="password" class="col-md-4 control-label"> {% trans "Exam Code" %} </label>

                            <div class="col-md-6">
                                <input id="password" type="text" class="form-control" name="exam_code" required>

                              
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                   
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    {% trans "Submit" %} 
                                </button>
                              
                              
                               
                            </div>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}





