{% load static %}
{% load i18n %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--
      Notice the use of  in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>{% trans "Quiz" %}</title>
<link rel="stylesheet" href="{% static 'assets/theme/vendors/css/bootstrap.min.css' %}" >
  <style type="text/css">
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
</style>

 <style type="text/css">
 p{
    display: contents !important;
 }
 .btn {
    border-radius: 0;
}

.btn + .btn {
    margin-left: 10px;
}

.option {
    background-color: #cadaee;
    cursor: pointer;
    font-size: 20px;
    margin: 4px;
}

.option label {
    cursor: pointer;
    display: block;
    padding: 10px;
}

#quiz .options input[type=checkbox] {
    height: 22px;
    margin-right: 6px;
    width: 22px;
}

.cursor-pointer {
    cursor: pointer;
}

.result-question {
    background-color: #eee;
    margin: 4px;
    padding: 6px;
}

/* Create Quiz Styles */
.create-quiz .question {
    text-align: left;
}

.create-quiz input[type=text] {
    border: 1px solid #ddd;
    width: 95%;
}

.create-quiz .tb-quiz-name {
    background-color: #ccffcc;
    text-align: center;
}

.create-quiz .tb-desc {
    background-color: #fff;
}

.create-quiz .options > div {
    margin-left: 20px;
}

.create-quiz .options input[type=checkbox] {
    border: 1px solid #262626;
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    width: 20px;
}

@media only screen and (max-width: 480px) {
    h1, .h1 {
        font-size: 22px;
    }

    h2, .h2 {
        font-size: 20px;
    }

    h3, .h3 {
        font-size: 18px;
    }

    .option {
        font-size: 16px;
        padding: 6px;
    }
}
</style></head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
   

    <div id="root">
        <div class="container">
            <header class="p-2">
                <div class="row">
                    <h3 class="text-center font-weight-normal">{% trans "NameSchool" %}</h3> 
                </div>
                <div class="row">
                    <div class="col-6">
                       
                        <label class="control-label"> Học viên: {{student.getname}} </label>
                    </div>
                    <div class="col-6 text-right">
                        <label class="mr-1">Thời gian <span id="idminute"></span>:<span id="idsecond"></span> </label>
                        
                    </div>
                </div>
            </header>
            <div>
                
                    <div id="quiz">
                        <form method="POST" >
                            {% csrf_token %}
                        <h2 class="text-center font-weight-normal">{{ exam.courseOfSection }}</h2>
                        
                        <hr>
                        <div>
                            <div class="badge badge-info">
                                
                                Question  {{ page_obj.number }}   of {{ page_obj.paginator.num_pages }}.
                            </div>
                            <h3 class="font-weight-normal">{{ page_obj.number }}. 
                                <span>
                                {% for question in page_obj %}
                                    
                                   {{ question.question_content|safe   }}<br>
                                
                                {% endfor %}
                                </span>
                            </h3>
                            <div class="row text-left options">
                                
                                {% for choice in choices %}
                                
                                <label style="display:contents" class="font-weight-normal" for="c{{forloop.counter}}">
                                    <div class="col-6">
                                        <div class="option">
                                           
                                                {% if choice.choice in question_choice  %}
                                                
                                                <input name="answers[]" id="c{{forloop.counter}}" checked type="{{question.question_type}}" value="{{choice.choice}}"> {{ choice.choice|safe }}
                                                {% else %}
                                                <input name="answers[]" id="c{{forloop.counter}}" type="{{question.question_type}}" value="{{choice.choice}}">{{ choice.choice|safe }}</input>
                                                {% endif %}
                                          
                                        </div>
                                    </div>
                                </label>
                                {% endfor %}

                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                        
                        
                            
                            {% if page_obj.has_previous %}
                            <button type="button" onclick='clickChange(q=1)' class="btn btn-primary">
                                First
                            </button>
                            <button type="button" onclick='clickChange(q={{ page_obj.previous_page_number }},c={{ page_obj.number }})' class="btn btn-primary">
                                Prev
                            </button>                                
                        
                            {% endif %}
                            {% if page_obj.has_next %}
                                   
                                
                                <button type="button" onclick='clickChange(q={{ page_obj.next_page_number }},c={{ page_obj.number }})' class="btn btn-primary">
                                    Next
                                </button>
                                <button type="button" onclick='clickChange(q={{ page_obj.paginator.num_pages }},c={{ page_obj.number }})' class="btn btn-primary">
                                    Last &raquo; 
                                </button>                                
                                                        
                                                               
                            {% endif %}
                        </div>
                        <input type="hidden" id="time_exam" value=" {{ time_exam }}"/>
                        <input type="hidden" id="time_minute" name="time_minute" value=" {{ minute }}"/> 
                        <input type="hidden" id="time_second" name="time_second" value=" {{ second }}"/>            
                        <input type="hidden" id="qcurent" name="qcurent" value="{{ page_obj.number }}"/> 
                        <input type="hidden" id="idquestion" name="q" value="0"/> 
                        <input type="hidden" id="idType" name="type" value="quiz"/> 
                        <button type="submit" id="idSubmitQuestion" class="hidden">Submit Quiz</button>
                    </form>
                    </div>
                    <div>
                    <hr>
                    
                    <button onclick="clickAction('review')" class="btn btn-primary">Review</button>
                    <button id="idsubmitpoint" onclick="clickAction('point')" class="btn btn-primary">Submit Quiz</button>
                   
               
            </div>
        </div>
        </div>
    </div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  <script type="text/javascript" src="/static/js/bundle.js"></script>
<script>
    function clickChange(q=1,c=2){
        
       document.getElementById('idquestion').value  = q;
       document.getElementById('idSubmitQuestion').click() ;
       
    }
    function clickAction(type){
        
        document.getElementById('idType').value  = type;
        document.getElementById('idSubmitQuestion').click() ;
        
     }
     
    var myminute = parseInt(document.getElementById('time_minute').value );
    var mysecond = parseInt(document.getElementById('time_second').value );
    var time_exam = parseInt(document.getElementById('time_exam').value );
    myFunction()
    function myFunction() {
        document.getElementById('idminute').innerHTML  = myminute;
        document.getElementById('idsecond').innerHTML  = mysecond;
        setInterval(funcsecond, 1000);
        ///setInterval(funcminute, 60000);
    }
    function funcminute() {
        mysecond=0;
        document.getElementById('idsecond').innerHTML  = 0;
        myminute= myminute + 1;
        ///alert(myminute)
        if( myminute >= time_exam)
        {
            alert("Hết giờ")
            document.getElementById('idsubmitpoint').click() ;
        }

           
        
        //alert(myVar)
        
        document.getElementById('idminute').innerHTML  = myminute;
        document.etElementById('time_minute').value =  myminute;
        // cập nhật thời gian
        loadDoc();
    
    }
    function funcsecond() {
        mysecond= mysecond + 1;
        //alert(myVar)
        document.getElementById('time_second').value =  mysecond;
        document.getElementById('idsecond').innerHTML  = mysecond;
        if(mysecond >=60)
            funcminute()
        
    }
     // cập nhật thời gian
    function loadDoc() {
        
        const xhttp = new XMLHttpRequest();
        xhttp.open("GET", "{% url 'quiz:time' %}" );
        xhttp.send();
    }
</script>
</body></html>