{% load i18n %}
<div class="question" data-question_id="QUESTION_ID" data-question_number="1">
  
 
  <div>
    <label>{% trans "Question Chapter" %}:</label>
    <input style="width: 300px;" type="number" name="chapter" min="1" value="1"/>
  </div>
  <div>
    <label>{% trans "Question type" %}:</label>
    <select style="width: 300px;" class="question_type" name="question_type">
      <option value="input" >{% trans "Open Text" %}</option>
      <option value="radio" >{% trans "Select One" %}</option>
      <option value="checkbox" >{% trans "Select Many" %}</option>
      <option value="textarea" >{% trans "Multi-line open Text" %}</option>
    </select>
  </div>
  <div>
    <label>{% trans "Question Level" %}:</label>
    <select style="width: 300px;" class="question_level" name="question_level">
      <option value="cb" >Cơ Bản</option>
      <option value="nc" >Nâng cao</option>
  
    </select>
  </div>
  <div>
    <label>{% trans "Question text" %}:</label>
    <div class="col l12 s12" style="padding-top: 20px">
        <span class="title" style="margin: 0">Nhập Câu Hỏi (Hỗ trợ nhập bằng LaTeX):</span>
        <div class="input-field">
            <textarea id="question_name" name="question_name"  value="{{question.question_name}}" required></textarea>
            
        </div>
    </div>
  </div>
  <div class="choices_container" style="display: none">

    <div class="choices" data-question_id="QUESTION_ID"></div>
    <div style="margin-top: 15px">
      <button  class="add_choice" >{% trans "Add Choice" %}</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  CKEDITOR.replace('question_name', {
      extraPlugins: 'mathjax,format,image',
      filebrowserBrowseUrl: 'http://localhost/ckeditor/browse/',
      filebrowserImageUploadUrl: 'http://localhost/ckeditor/upload/',
      entities : false
  });
</script>