{% extends 'layouts/app.html' %}
{% load i18n %}
{% block title %}
__('Attendance')
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="side-navbar">
            {% include 'layouts/leftside-menubar.html' %}
        </div>
        <div class="col-md-10" id="main-container">
            <div class="panel panel-default">
                <ol class="breadcrumb" style="margin-top: 3%;">
                    <li><a href="{% url 'configurations:classes' %}" style="color:#3b80ef;">{% trans "Classes  &amp; Sections" %} </a></li>
                    <li class="active">{ucfirst($user->role)}}s</li>
                </ol>

                <div class="page-panel-title">{% trans "List of all Students" %} </div>
                {% if users%}
                <div class="panel-body">
                
                    {% include 'components/users-export.html' %}

                    {% include 'components/users-list-attendance.html' %}

                   
                </div>
                {% else %}
              
                <div class="panel-body">
                    {% trans "No Related Data Found." %}  
                </div>
                {% endif %}
    
            </div>
        </div>
    </div>
</div>
{% endblock %}
